{% extends "base.html" %}

{% block content %}
<h1>资料列表</h1>
<div class="files-container">
    {% if files %}
        <table>
            <thead>
                <tr>
                    <th>文件名</th>
                    <th>描述</th>
                    <th>分类</th>
                    <th>上传时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for file in files %}
                <tr>
                    <td>{{ file[2] }}</td>
                    <td>{{ file[3] }}</td>
                    <td>{{ file[4] }}</td>
                    <td>{{ file[5] }}</td>
                    <td>
                        <a href="{{ url_for('download', file_id=file[0]) }}" class="button">下载</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>暂无文件</p>
    {% endif %}
</div>
{% endblock %}